.shapes-list li {
  margin-bottom: 5px;
  display: grid;
  height: 30px;
  align-items: center;
  justify-content: start;
  grid-template-columns: 40px 1fr;
}

.shapes-list .shape-name {
  pointer-events: none;
}

.shapes-list .item-controls {
  grid-column: 4;
  justify-self: flex-end;
}

.shapes-list input {
  width: 30px;
  border: hidden;
}

.shapes-list button {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-family: var(--default-font);
  line-height: 16px;
  margin: 2px;
  padding: 2px;
  width: auto
}

.ssc .header {
  color: var(--section-header-color);
  display: grid;
  font-family: var(--section-header-font);
  font-size: var(--section-header-size);
  grid-template-columns: auto 1fr auto;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.ssc-dialog footer.form-footer {
  justify-content: center;
}

.ssc-dialog footer.form-footer button {
  min-width: fit-content;
}